<div class=" flex flex-col md:flex-row m-auto max-w-5xl my-10 gap-10">
    <div class=" flex flex-col gap-6 justify-center" style="width: 50%;">
        <h2 class=" text-5xl font-bold">Frontend Magic with React, Angular & Clean Code</h2>
        <p class=" text-3xl text-gray-400">I'm a passionate frontend developer with [X] years of experience creating dynamic, user-friendly web applications</p>
        <div class=" flex gap-10">
            <button class=" py-3 px-5 bg-black text-2xl text-white text-center"><a href="https://calendly.com/bigdp585/30min" target="_blank">Hire me</a></button>
            <button class=" py-3 px-5 bg-green-700 text-2xl text-white text-center"><a href="Ajinkya_Mule_Resume.pdf" download>Download My Resume</a></button>
        </div>
    </div>
    <div class="" style="width: 50%;">
        <img class="object-cover h-100 w-100" src="banner.png" alt="Banner">
    </div>
</div>